# Archivos de caché y temporales
__pycache__/
*.pyc
*$py.class
*.so
.Python
.venv/
venv/
ENV/

# Archivos de compilación (PyInstaller u otros)
build/
dist/
*.spec
*.exe

# Archivos de caché de yfinance y otros temporales
tmp/
Dividends/
EDGAR/
*.dat-journal
*.prof
*.code-workspace

# IDEs
.vscode/
.idea/
*.swp
*.swo

# otros proyectos
AppOliday/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
