arelle_release==2.37.74
binance_connector==3.12.0
cachetools==6.2.0
cryptography==46.0.3
diskcache==5.6.3
fake_useragent==2.2.0
finvizfinance==1.1.1
joblib==1.5.2
matplotlib==3.10.7
mplfinance==0.12.10b0
numpy==2.3.5
openpyxl==3.1.5
pandas==2.3.3
Pillow==12.0.0
psutil==7.0.0
pymysql==1.1.2
python-telegram-bot==22.5
python_dateutil==2.9.0.post0
Requests==2.32.5
schedule==1.2.2
scikit_learn==1.7.2
SQLAlchemy==2.0.44
syncio==0.0.4
ta==0.11.0
urllib3==2.6.0
websocket_client==1.8.0
yfinance==0.2.65
