{
    "api_key": "TU_API_KEY_BINANCE",
    "api_secret": "TU_API_SECRET_BINANCE",
    "account": "B0000001",
    "vehiculo": "Crypto",
    "db": {
        "host": "localhost",
        "user": "root",
        "password": "",
        "database": "bdinv"
    }
}
